.ant-pro-multi-tab {
  margin: -23px -24px 24px -24px;
  background: #fff;
}

.topmenu .ant-pro-multi-tab-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.topmenu.content-width-Fluid .ant-pro-multi-tab-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

