$text-color-secondary: fade(#000, 25%);

/* theme color */
$main-color: #333333;
$content-color: #595959;
$tips-color: #8c8c8c;
$light-color: #bfbfbf;
$border-color: #ebedf0;
$bg-color: #f9f9f9;
/* base color */
$white-color: #ffffff;
$grey-color: #a09f9f;
$red-color: #ff3f3f;
$blue-color: #1890ff;
$green-color: #60BE29;
$orange-color: #fd9809;
$yellow-color: #fdc600;
/* colors -10 0 40 90 */
$primary-dark-color: #1682e6;
$primary-color: #1890ff;
$primary-disabled-color: #74bcff;
$primary-light-color: #e8f4ff;

$warning-dark-color: #e48908;
$warning-color: #fd9809;
$warning-disabled-color: #fec16b;
$warning-light-color: #fff5e6;

$success-dark-color: #4ab017;
$success-color: #52c41a;
$success-disabled-color: #97dc76;
$success-light-color: #eef9e8;

$error-dark-color: #e63939;
$error-color: #ff3f3f;
$error-disabled-color: #ff8c8c;
$error-light-color: #ffecec;

$info-dark-color: #acacac;
$info-color: #bfbfbf;
$info-disabled-color: #d9d9d9;
$info-light-color: #f9f9f9;


